{{ partial "head.html" . }}
<head>
    <link href="{{ .Site.BaseURL }}/css/markdown.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}/css/katex.min.css" rel="stylesheet">
    <script>
        // This automatically adds an anchor tag for every h1, h2, h3, and h4 element on the page
        function addAnchor(element) {
            element.insertAdjacentHTML('beforeend', `<a href="#${element.id}" class="anchortag" ariaLabel="Anchor"> 🔗 </a>` )
        }
        document.addEventListener('DOMContentLoaded', function () {
            var headers = document.querySelectorAll('h1[id], h2[id], h3[id], h4[id]')
            if (headers) {
                headers.forEach(addAnchor)
            }
        });
    </script>
</head>
{{ partial "header.html" . }}
<body dir="{{ .Site.Language.LanguageDirection | default " ltr" }}">
        {{ if and (not .Params.disableSidebar) (not .Params.disableToc) }}
        <div class="grid-container" style="grid-template-columns: 1fr 5fr 1fr">
            <div class="sidebar markdown-body"><div id="full">{{ partial "sidebar.html" . }}</div></div>
            <div id="content" class="markdown-body">{{- .Content -}}</div>
            {{ partial "toc.html" . }}
        {{ else if not .Params.disableSidebar }}
        <div class="grid-container" style="grid-template-columns: 1fr 5fr">
            <div class="sidebar markdown-body"><div id="full">{{ partial "sidebar.html" . }}</div></div>
            <div id="content" class="markdown-body">{{- .Content -}}</div>
        {{ else if not .Params.disableToc }}
        <div class="grid-container" style="grid-dimensions: 1fr 5fr">
            <div id="content" class="markdown-body">{{- .Content -}}</div>
            {{ partial "toc.html" . }}
        {{ else }}
        <div class="grid-container" style="grid-dimensions: auto">
            <div id="content" class="markdown-body">{{- .Content -}}</div>
        {{ end }}
    </div>
            {{ partial "js.html" }}
</body>
</html>