<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container ">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="page-scroll navbar-brand" href="{{ .Site.BaseURL }}"><img class="top-navbar-logo" src="{{ .Site.BaseURL }}/img/iceberg-logo-icon.png"/> {{ .Site.Title }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {{ partial "search.html" . }}
            <ul class="nav navbar-nav navbar-right">
                {{ $currentPage := . }}
                {{ range .Site.Menus.topnav }}
                {{ $menuContainsCurrentPage := eq .Name $currentPage.Page.Title}}
                    {{ if and (eq $.Site.Params.siteType "docs") (eq (lower .Name) "docs") }}
                    <li>
                        <a id="active" class="page-scroll" href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                    {{ else }}
                    <li>
                        <a {{ if $menuContainsCurrentPage }}id="active"{{ end }} {{ if hasPrefix .Identifier "_" }}target="_blank"{{ end }} class="page-scroll" href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                    {{ end }}
                {{ end }}
                <li>
                    <a href="https://github.com/apache/iceberg" target="_blank">
                        <img src="{{ $.Site.BaseURL }}/img/GitHub-Mark.png" target="_blank" class="top-navbar-logo"/>
                    </a>
                </li>
                <li>
                    <a href="https://join.slack.com/t/apache-iceberg/shared_invite/zt-tlv0zjz6-jGJEkHfb1~heMCJA3Uycrg" target="_blank">
                        <img src="{{ $.Site.BaseURL }}/img/Slack_Mark_Web.png" target="_blank" class="top-navbar-logo"/>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
{{ partial "search-results.html" . }}
{{ if and .IsHome (not .Site.Params.disableHome) }}
    <section id="intro">
        <!-- Header -->
        <div class="intro-header">
            <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <div class="intro-message">
                    <h1>{{ .Site.Title }}</h1>
                    <h3>{{ .Site.Params.description }}</h3>
                    <hr class="intro-divider">
                    {{ if isset .Site.Params "social" }}
                    <ul class="list-inline intro-social-buttons">
                            {{ partial "social.html" . }}
                    </ul>
                    {{ end }}
                </div>
                </div>
            </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.intro-header -->
    </section>
{{ end }}