<!-- - Licensed to the Apache Software Foundation (ASF) under one or more-->
<!-- - contributor license agreements.  See the NOTICE file distributed with-->
<!-- - this work for additional information regarding copyright ownership.-->
<!-- - The ASF licenses this file to You under the Apache License, Version 2.0-->
<!-- - (the "License"); you may not use this file except in compliance with-->
<!-- - the License.  You may obtain a copy of the License at-->
<!-- - -->
<!-- -   http://www.apache.org/licenses/LICENSE-2.0-->
<!-- - -->
<!-- - Unless required by applicable law or agreed to in writing, software-->
<!-- - distributed under the License is distributed on an "AS IS" BASIS,-->
<!-- - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.-->
<!-- - See the License for the specific language governing permissions and-->
<!-- - limitations under the License.-->
<!-- Top Navigation Bar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container ">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="page-scroll navbar-brand" href="{{ .Site.BaseURL }}"><img class="top-navbar-logo" src="{{ .Site.BaseURL }}/img/iceberg-logo-icon.png"/> {{ .Site.Title }}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {{ partial "search.html" . }}
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle vertical-center" type="button" data-toggle="dropdown">Dropdown Example
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
              </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {{ $currentPage := . }}
                <!-- Loop through the topnav menu defined in config.toml -->
                {{ range .Site.Menus.topnav }}
                {{ $menuContainsCurrentPage := eq .Name $currentPage.Page.Title}}
                    {{ if and (eq $.Site.Params.siteType "docs") (eq (lower .Name) "docs") }}
                    <li>
                        <a id="active" class="page-scroll" href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                    {{ else }}
                    <li>
                        <a {{ if $menuContainsCurrentPage }}id="active"{{ end }} {{ if hasPrefix .Identifier "_" }}target="_blank"{{ end }} class="page-scroll" href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                    {{ end }}
                {{ end }}
                <li>
                    <a href="https://github.com/apache/iceberg" target="_blank">
                        <img src="{{ $.Site.BaseURL }}/img/GitHub-Mark.png" target="_blank" class="top-navbar-logo"/>
                    </a>
                </li>
                <li>
                    <a href="https://join.slack.com/t/apache-iceberg/shared_invite/zt-tlv0zjz6-jGJEkHfb1~heMCJA3Uycrg" target="_blank">
                        <img src="{{ $.Site.BaseURL }}/img/Slack_Mark_Web.png" target="_blank" class="top-navbar-logo"/>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{{ partial "search-results.html" . }}
{{ if and .IsHome (not .Site.Params.disableHome) }}
    <!-- Show the Iceberg marketing splash content only when on the homepage-->
    <section id="intro">
        <div class="intro-header">
            <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <div class="intro-message">
                    <h1>{{ .Site.Title }}</h1>
                    <h3>{{ .Site.Params.description }}</h3>
                    <hr class="intro-divider">
                    {{ if isset .Site.Params "social" }}
                    <ul class="list-inline intro-social-buttons">
                            {{ partial "social.html" . }}
                    </ul>
                    {{ end }}
                </div>
                </div>
            </div>
            </div>
        </div>
    </section>
{{ end }}