{{ if not .Params.disableSidebar }}
    <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ $menuContainsCurrentPage := eq (lower .Name) $currentPage.Section}}
            {{ if .HasChildren }}
                <li>
<!--                    Use this line below if you want the active section in the sidebar to be highlighted-->
<!--                    <a id="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}" href="#">-->
                    <a href="#">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>
                </li>
                <ul class="sub-menu">
                    {{ range .Children }}
<!--                    {{ printf "%#v" . }}-->
                        <li>
                            <a id="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}" href="{{ if isset .Page.Params "external" }}{{ .Page.Params.external }}{{ else }}{{ .URL }}{{ end }}" {{ if isset .Page.Params "external" }}target="_blank"{{ end }}>{{ .Name }}</a>
                        </li>
                    {{ end }}
                </ul>
            {{ else }}
                <li>
                    <a href="{{ .URL }}">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>
                </li>
            {{ end }}
        {{ end }}
        <li>
            <img src='/img/asf.png' class='navigation-icon fa-fw'/><span>ASF</span>
        </li>
        <ul class="sub-menu">
            <li>
                <a href="https://www.apache.org/foundation/sponsorship.html" target="_blank">Donate</a>
            </li>
            <li>
                <a href="https://www.apache.org/events/current-event.html" target="_blank">Events</a>
            </li>
            <li>
                <a href="https://www.apache.org/licenses/" target="_blank">License</a>
            </li>
            <li>
                <a href="https://www.apache.org/security/" target="_blank">Security</a>
            </li>
            <li>
                <a href="https://www.apache.org/foundation/sponsorship.html" target="_blank">Sponsors</a>
            </li>
    </ul>
{{ end }}