<!-- - Licensed to the Apache Software Foundation (ASF) under one or more-->
<!-- - contributor license agreements.  See the NOTICE file distributed with-->
<!-- - this work for additional information regarding copyright ownership.-->
<!-- - The ASF licenses this file to You under the Apache License, Version 2.0-->
<!-- - (the "License"); you may not use this file except in compliance with-->
<!-- - the License.  You may obtain a copy of the License at-->
<!-- - -->
<!-- -   http://www.apache.org/licenses/LICENSE-2.0-->
<!-- - -->
<!-- - Unless required by applicable law or agreed to in writing, software-->
<!-- - distributed under the License is distributed on an "AS IS" BASIS,-->
<!-- - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.-->
<!-- - See the License for the specific language governing permissions and-->
<!-- - limitations under the License.-->
{{ if eq $.Site.Params.siteType "docs" }}
{{ partial "head.html" . }}
<head>
    <link href="{{ .Site.BaseURL }}/css/markdown.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}/css/katex.min.css" rel="stylesheet">
    <script>
        // This automatically adds an anchor tag for every h1, h2, h3, and h4 element on the page
        function addAnchor(element) {
            element.insertAdjacentHTML('beforeend', `<a href="#${element.id}" class="anchortag" ariaLabel="Anchor"> 🔗 </a>` )
        }
        document.addEventListener('DOMContentLoaded', function () {
            var headers = document.querySelectorAll('h1[id], h2[id], h3[id], h4[id]')
            if (headers) {
                headers.forEach(addAnchor)
            }
        });
    </script>
</head>
{{ partial "body.html" . }}
{{ else }}
{{ partial "head.html" . }}
<div id="content">
{{ partial "header.html" . }}
{{ partial "about.html" . }}
{{ partial "services.html" . }}
{{ partial "pricing.html" . }}
{{ partial "contact.html" . }}
{{ partial "js.html" (dict "context" . "includeTermynal" true) }}
</div>
{{ end }}