{{ partial "head.html" . }}
<head>
    <link href="{{ .Site.BaseURL }}/css/markdown.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}/css/katex.min.css" rel="stylesheet">
    <script>
        function addAnchor(element) {
            element.insertAdjacentHTML('beforeend', `<a href="#${element.id}" class="anchortag" ariaLabel="Anchor"> 🔗 </a>` )
        }
        document.addEventListener('DOMContentLoaded', function () {
            var headers = document.querySelectorAll('h1[id], h2[id], h3[id], h4[id]')
            if (headers) {
                headers.forEach(addAnchor)
            }
        });
    </script>
</head>
{{ partial "header.html" . }}
<body dir="{{ .Site.Language.LanguageDirection | default " ltr" }}">
    <div class="markdown-body">
        {{- .Content -}}
    </div>
</body>

</html>