<section id="services">

<!-- Page Content -->
 {{ range $index, $element :=  .Site.RegularPages }}{{ if or (eq .Section "services") (eq .Section "post") }}
    {{ if modBool $index 2 }}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ .Title }}</h2>
                    {{ .Description }}
                    {{ if .Params.LearnMore }}
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="{{ .Params.LearnMore }}" class="btn btn-default btn-lg">
                                <span class="network-name">Learn More</span>
                            </a>
                        </li>
                    </ul>
                    {{ end }}
                </div>
                {{ if .Content }}
                <div class="col-lg-5 col-lg col-sm-6">
                    {{ .Content }}
                </div>
                {{ end }}
                {{ if .Params.Img }}
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img src="{{ $.Site.BaseURL }}img/{{ .Params.Img }}" height="400px" width="400px">
                </div>
                {{ end }}
                {{ if .Params.asciinemacast }}
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <div id="{{ .Params.title }}"></div>
                    <script>
                        AsciinemaPlayer.create('{{ .Site.BaseURL }}/asciinema/{{ .Params.AsciinemaCast }}', document.getElementById('{{ .Params.title }}'), {
                            loop: true,
                            autoPlay: true,
                            theme: "monokai",
                        });
                    </script>
                </div>
                {{ end }}
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {{ else }}

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ .Title }}</h2>
                    {{ .Description }}
                    {{ if .Params.LearnMore }}
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="{{ .Params.LearnMore }}" class="btn btn-default btn-lg">
                                <span class="network-name">Learn More</span>
                            </a>
                        </li>
                    </ul>
                    {{ end }}
                </div>
                {{ if .Content }}
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  {{ .Content }}
                </div>
                {{ end }}
                {{ if .Params.Img }}
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img src="{{ $.Site.BaseURL }}img/{{ .Params.Img }}" height="600px" width="600px">
                </div>
                {{ end }}
                {{ if .Params.asciinemacast }}
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <div id="{{ .Params.title }}"></div>
                    <script>
                        AsciinemaPlayer.create('{{ .Site.BaseURL }}/asciinema/{{ .Params.AsciinemaCast }}', document.getElementById('{{ .Params.title }}'), {
                            loop: true,
                            autoPlay: true,
                            theme: "monokai",
                        });
                    </script>
                </div>
                {{ end }}
            </div>

        </div>
        <!-- /.container -->

    </div>
    {{ end }}
    <!-- /.content-section-b -->
    {{ end }}
{{ end }}

</section>
