.navigation-icon {
  width: 1.28571429em;
  max-height: 14px;
}

li.navigation-icon-pad {
  padding-left: 1.28571429em;
}

  /*Navigation fa icons*/
.fa-table {
  color: #000000;
}

.fa-handshake-o {
  color: #000000;
}

.fa-object-ungroup {
  color: #000000;
}

.fa-star-o {
  color: #E25A1D;
}

.top-external-icon {
  height: 50px;
  padding-top: 20px;
  padding-right: 10px;
  white-space: nowrap;
  font-size: 18px;
}

#version-shield {
  height: 1.5em;
  width: unset;
}

#book-search-results {
  position: absolute;
}

ul#book-search-results {
  padding: 0;
  margin: 0;
  list-style-type: none;
  float: left;
  width: 100%;
  background-color: white;
  z-index: 10;
}

ul#book-search-results li small {
  color: rgb(112, 128, 144);
}

.book-section-flat {
  margin: $padding-16 * 1.2 0;
  > a {
    font-weight: normal;
  }
  > label {
    font-weight: normal;
  }
}


aside nav ul {
  li {
    margin: 0.5em 0;
  }
}


.book-menu {
  font-size: 0.8rem;
}