body {
  font-family: sans-serif, -apple-system, BlinkMacSystemFont, segoe ui, Helvetica, Arial, apple color emoji, segoe ui emoji;
  font-size: 16px;
  word-wrap: break-word;
}

.navigation-icon {
  width: 1.28571429em;
  max-height: 14px;
}

li.navigation-icon-pad {
  padding-left: 1.28571429em;
}

  /*Navigation fa icons*/
.fa-table {
  color: #000000;
}

.fa-handshake-o {
  color: #000000;
}

.fa-object-ungroup {
  color: #000000;
}

.fa-star-o {
  color: #E25A1D;
}

.top-external-icon {
  height: 50px;
  padding-top: 20px;
  padding-right: 10px;
  white-space: nowrap;
  font-size: 18px;
}

#version-shield {
  height: 1.5em;
  width: unset;
}

#book-search-results {
  position: absolute;
}

ul#book-search-results {
  padding: 0;
  margin: 0;
  list-style-type: none;
  float: left;
  width: 100%;
  max-height: 700px;
  overflow-y: scroll;
  border-radius: 6px;

  z-index: 1;
  a b mark {
    background-color: #B8E1F3;
  }
}

ul#book-search-results li {
  color: rgb(112, 128, 144);
  background-color: white;
  border-bottom: 1px solid #e7e8eb;
  padding-bottom: 15px;
  padding-left: 10px;
  margin: 0px;
  display: grid;
}



ul#book-search-results li p {
   font-weight: bold;
    margin-bottom: 4px;
}

.book-section-flat {
  margin: $padding-16 * 1.2 0;
  > a {
    font-weight: normal;
  }
  > label {
    font-weight: normal;
  }
}


aside nav ul {
  li {
    margin: 0.5em 0;
  }
}


.book-menu {
  font-size: 0.8rem;
}

.container {
  max-width: $container-max-width + 20;
  margin: 0 auto;
}